h1 {
    color: green;
}

.error {
    color: red;
    border: solid red 5px;
    font-size: 24px;
    width: 200px;
}

.success {
    color: green;
    border: solid green 5px;
    font-size: 24px;
    width: 200px;
}